html body{
  background-color: #fff8e7;
    cursor: url(/images/egg.png) !important;

}
body{
  margin: 0;
  padding: 0;
  background-color: #fff8e7;

}
p{
  padding: 0;
  margin: 0;
}
.step-numbers{
margin: 2%;
margin-top: 8%;
  font-size: 520%;
  display: flex;
  flex-direction: column;
}
#fixed{
  position:fixed
}

.nav{
  background-color: white;
  width: 96%;
  height: 7%;
  border: 1px solid black;
  position:fixed;
  margin: 2%;
  align: center;
}
.nav-container{
  display: flex;
  justify-content: space-around;
  padding-top: 1%;
  padding-bottom: 1%;
  align-items: center;
}
.title{
  width: 50%;
  align-items: center;
}
.navlinks{
  width:50%;
display: flex;
justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
  Text-decoration: none;
font-style: italic;

}
.links{
  width:50%;
  align-items:baseline;
  display: flex;
  justify-content: space-between;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline !important;

}
a:active{
  text-decoration: underline !important;

}
.container{
  width: 100%;
  display: flex;
}
.container2{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.parent1{
  width: 50%;
  height:100%;
  border-right: thin solid black;

}
.parent2{
  width: 50%;
  height: 100%;
}
.home-image{
  opacity: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}
.home-image:hover{
  opacity: 1;
  width: 100%;
  padding: 0;
  margin: 0;
}
.steps{
  width: 100%;
  display:flex;
  border-bottom: thin solid black;
}
.img-resize{
  width:50%;
}
.div{
  width: 100%;
}
.type{
  display:block;
}
.type-size{
  font-family: sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 40%;
}
.title-play{
  font-size:150%;
  font-family: sans-serif;
  font-weight: 200;
  font-style: normal;
}
.title-play2{
  font-size:150%;
  font-family: serif !important;
}
